body {
  background: linear-gradient(rgba(0, 0, 255, 0.123), rgba(131, 130, 202, 0.596));
}

#tabla-datos {
  width: 100%;
}

#datos-personales {
  padding: 10px;
  border-style: double;
  border-color: black;
}

#datos-personales tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.container {
  padding-top: 20px;
}

#academico-titulo{
  font-size: medium;
  font-weight: bold;
  color:dimgray;
  margin-bottom: 0;
}

 
#datos-academicos{
  padding-top: 20px;
  padding-bottom: 20px;
}

#academico-subtitulo{
  padding-bottom: 5px;

}

#objetivos {
  margin-top: 20px;
}

